.settings {
    width: 350px;
    font-size: 14px;
    margin: 30px auto;
    display: table;
    border: 1px solid gray;
}

label {
    width: 50%;
    margin: 10px;
    text-align: left;
}

input, select {
    width: 40%;
    margin: 10px;
}